<div class="panel panel-default">
    <div class="panel-heading poi-list-context">
        <span class="title">Pois</span>
        <a href="/chaplin-pois/new" title="Add Poi" class="btn pull-right"><i class="glyphicon glyphicon-plus"></i></a>
    </div>
    <ul class="list-group" id="poi-list"></ul>
</div>
